body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

body > *{
    display: block;
    padding: 0 200px;
}

/* ------------------------------------------------ */
/* ------------------------------------------------ */
/* HEADER - NAVBAR AND INTRODUCTION SECTION STYLING */
/* ------------------------------------------------ */
/* ------------------------------------------------ */

.header{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.navbar{
    padding: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img{
    max-width: 150px;
}

 .menu-list{
     display: flex;
     gap: 24px;
     list-style-type: none;
     font-size: 18px;
     padding: 0;
 }
 .menu-list a{
    text-decoration: none;
    color: #E5E7EB;
 }

 .introduction{
     display: flex;
     justify-content: space-between;
     gap: 20px;
     align-items: center;
     margin: 64px 0;
 }

 .introduction img{
     max-width: 300px;
     border-radius: 24px;
     padding: 0;
     margin: 0;
 }

 .introduction .info{
     display: flex;
     flex-direction: column;
     justify-content: center;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    max-width: 670px;
 }

 .introduction h1{
     font-size: 48px;
     font-weight: extra-bold;
     color: #f9faf8;
     margin: 0;
 }

 .introduction p{
     font-size: 18px;
     color: #E5E7EB;
     line-height: 2;
     margin: 0;
 }

 .introduction a{
     text-decoration: none;
     font-weight: bold;
     color: white;
     background-color: #3882F6;
     border-radius: 8px;
     padding: 6px 24px;
     margin: 8px;
 }

/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ---------- EXPERIENCE SECTION STYLING ----------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */

.xp-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 96px 0;
}
.xp-container h1{
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.tile-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
}

.tile{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 230px;
    margin: 0;
    padding: 0;
}

.tile .img-box{
    width: 200px;
    height: 200px;
    border-style: solid;
    border-radius: 16px;
    border-color: grey;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.img-box img{
    width: 90%;
    height: 90%;
    object-fit: contain;
}

.tile p{
    text-align: center;
    line-break: auto;
    margin: 0;
    padding: 0;
}

/* ------------------------------------------------- */
/* ------------------------------------------------- */
/* ------------- QUOTE SECTION STYLING ------------- */
/* ------------------------------------------------- */
/* ------------------------------------------------- */

.quote-section{
    background-color: #E5E7EB;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 64px 250px;
}

.quote{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    align-self: center;
    max-width: 800px;
}

.author{
    font-weight: bold;
    align-self: center;
}

